<%= render 'header' %>

<p id="notice"><%= notice %></p>

<% @books.each do |book| %>


    <div class="col-md-2 column productbox">
      <%= link_to 'Edit', edit_book_path(book) %> |
      <%= link_to 'Back', books_path %>
      <%= link_to 'Back1', book_path(book) %>

      <div class="book_photo" >
        <%= image_tag book.photo.url(:thumb) %>



        <div class="caption">

          <div class="blur"></div>
          <div class="caption-text">

            <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">





              <%= book.title %>




            </h3>





            <div class="pull-center"><a href='/books/<%=book.id %>' class="btn btn-danger btn-sm" role="button">VIEW</a></div>
            <div class="pricetext">Rs:<%= book.price %></div>
          </div>

        </div>


      </div>
    </div>



<% end %>
<br>



<%= link_to 'New Book', new_book_path %>






<style type="text/css">
  #book_photo {
    width:205px;
    height: 300px;





  }

  #book_photo img {
    background-color: #ffffff;
    padding: 3px;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width: 205px;
    height: 300px;

  }









  /*.productbox {*/
  /*background-color:#ffffff;*/
  /*padding:10px;*/
  /*margin-bottom:10px;*/
  /*-webkit-box-shadow: 0 8px 6px -6px  #999;*/
  /*-moz-box-shadow: 0 8px 6px -6px  #999;*/
  /*box-shadow: 0 8px 6px -6px #999;*/
  /*}*/





  .producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
  }

  .productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
    color: white;
  }

  .pricetext {
    color: white;
    font-weight:bold;
    font-size:1.4em;
  }




  .book_photo{
    padding: 0px;
    position: relative;
    overflow: hidden;
  }
  .book_photo:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
  }
  .book_photo img{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width: 205px;
    height: 300px;
    z-index: 4;
  }
  .book_photo .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .caption-text{
    z-index: 10;
    color: white;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
  }

</style>









